<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block css %}{% endblock %}
    
</head>

<body>

<style>
  @font-face {
    font-family: '001Shirokuma-Regular';
    src: url("src/001Shirokuma-Regular.otf") format('opentype');
  }
body {
  background-image: url(src/background.png);
  background-size: cover;
  height: 80vh;
 font-family: "001Shirokuma-Regular",sans-serif;
}
    </style>
    {% block body %}{% endblock %}
</body>

</html>